.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(30px);
  font-weight: 700;
  letter-spacing: rem(-2px);
  text-align: left;

  @media (max-width: 768px) {
    font-size: rem(25px);
  }
}

.link {
  text-decoration: none;
  color: inherit;
}
